.container-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container-projects .project-item {
  margin-bottom: 50px;
  width: 30%;
  padding: 20px;
  border-radius: 20px;
  transition: 0.5s;
  border: 1px solid transparent;
  background-color: var(--color-bg-variant);
}
.container-projects .project-item .project-item-image {
  border-radius: 15px;
  overflow: hidden;
}
.container-projects .project-item h3 {
  margin: 20px 0 30px;
}
.container-projects .project-item-btns {
  display: flex;
  margin-bottom: 15px;
  gap: 20px;
}
@media (max-width: 1024px) {
  .container-projects .project-item {
    width: 48%;
  }
}
@media (max-width: 600px) {
  .container-projects .project-item {
    width: 100%;
  }
}
